.header{
	background-color:#3c5b9a;
}
.mybtn{
	background-color:#3c5b9a;
	padding:5px;
}
.back{
	background-color:#E5E7E9 ;
}
.download{
	background-color:#F9E79F ;
	height:40px;
	padding:5px;
}
.marg{
	margin-top:20px;
}
.password{
	margin-top:10px;
}
.lang{
	font-size:12px;
	color:#3c5b9a;
}
.footer{
	color:grey;
	font-size:10px;
}
.description{
	margin:10px;
	padding:10px;
	background-color:#e5e7e9;
	color:#3c5b9a;
}